div.bloco {
    margin: 1vw;
    padding: 1vw;
    border-radius: 1vw;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);

    display: flex;
    justify-content: center;
    align-items: center;
}

div.vertical {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

div.horizontal {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

main h1 {
    margin: 0.5vw 0;

    color: white;
    font-size: 2vw;
}

main h2 {
    margin: 0.5vw 0;

    color: white;
    font-size: 1.5vw;
}

main p {
    margin: 0.5vw auto;

    color: white;
    font-size: 1vw;
    text-align: justify;
}

img.icone {
    width: 10vw;

    margin: 0.75vw auto;
}